.footer {
  padding: 5px 0 5px 0;
  margin: auto;
  width: 526px;
  background-color: white;
}

.todo-count {
  float: left;
  text-align: left;
  margin: 20px 0px 0px 20px;
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a:hover {
  border: 1px solid rgb(255, 133, 133);
  /* background-color: red; */
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed {
  color: black;
  margin-left: 25px;
  text-decoration: none;
}

.clear-completed:hover {
  color: black;
  margin-left: 25px;
  text-decoration: underline;
}
