.todo-list {
  margin: auto;
  list-style: none;
  width: 526px;
  background-color: white;
  padding: 0;
}

.todo-list {
  position: relative;

  border-bottom: 1px solid #ededed;
}

.todo-list .view {
  display: flex;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 15px 0 15px 0;
}

.todo-list .view .toggle {
  margin: 7px 15px 0px 20px;
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.todo-list .view .toggle:checked {
  background-color: green;
}
.todo-list .view label {
  line-height: 32px;
  font-size: 35px;
}
.todo-list .view .completed {
  text-decoration: line-through;
  color: #a7a1a1;
}

.todo-list .view .destroy {
  position: absolute;
  right: 20px;
  display: none;
  margin-top: 3px;
  font-size: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 25px;
}

.todo-list .view:hover .destroy {
  display: block;
  color: red;
}
